<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>UIAppFonts</key>
	<array>
		<string>SofiaSans-Thin.ttf</string>
		<string>SofiaSans-SemiBold.ttf</string>
		<string>SofiaSans-Regular.ttf</string>
		<string>SofiaSans-Medium.ttf</string>
		<string>SofiaSans-Light.ttf</string>
		<string>SofiaSans-ExtraLight.ttf</string>
		<string>SofiaSans-Bold.ttf</string>
		<string>SofiaSans-Black.ttf</string>
	</array>
</dict>
</plist>
